<div class="container mt-4">
    <h3 class="mb-4">Fill Form</h3>
  
    <form [formGroup]="fillForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let field of formFields" class="mb-3">
        <label>{{ field.label }} <span *ngIf="field.required">*</span></label>
        <small class="text-muted d-block">{{ field.helpText }}</small>
  
        <ng-container [ngSwitch]="field.type">
          <input *ngSwitchCase="'text'" class="form-control" [formControlName]="field.name" />
          <textarea *ngSwitchCase="'textarea'" class="form-control" [formControlName]="field.name"></textarea>
          <input *ngSwitchCase="'date'" type="date" class="form-control" [formControlName]="field.name" />
  
          <select *ngSwitchCase="'dropdown'" class="form-control" [formControlName]="field.name">
            <option value="" disabled selected>Select an option</option>
            <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
          </select>
  
          <div *ngSwitchCase="'radio'">
            <div *ngFor="let opt of field.options" class="form-check">
              <input
                type="radio"
                class="form-check-input"
                [value]="opt"
                [formControlName]="field.name"
                [id]="field.name + '_' + opt"
              />
              <label class="form-check-label" [for]="field.name + '_' + opt">{{ opt }}</label>
            </div>
          </div>
  
          <div *ngSwitchCase="'checkbox'">
            <div *ngFor="let opt of field.options" class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                [checked]="isChecked(field.name, opt)"
                (change)="toggleCheckbox(field.name, opt)"
                [id]="field.name + '_' + opt"
              />
              <label class="form-check-label" [for]="field.name + '_' + opt">{{ opt }}</label>
            </div>
          </div>
        </ng-container>
  
        <div
          *ngIf="fillForm.get(field.name)?.invalid && fillForm.get(field.name)?.touched"
          class="text-danger mt-1"
        >
          This field is required.
        </div>
      </div>
  
      <button class="btn btn-primary" type="submit" [disabled]="fillForm.invalid">Submit</button>
  
      <div *ngIf="submitted" class="alert alert-success mt-3">
        ✅ Form submitted successfully!
      </div>
    </form>
  </div>
  